/* Стилизация аккордеона */
.container {
  display: flex;
  justify-content: center;
  padding: 120px 16px;
}

.accordion {
  width: 730px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.accordion__item {
  margin-bottom: 8px;
  border: 1px solid var(--grey-3);
  border-radius: 8px;
  min-height: 72px;
}

.accordion__summary {
  position: relative;
  padding: 24px 32px;
  cursor: pointer;
  list-style: none;
}

.accordion__summary::-webkit-details-marker {
  display: none;
}

.accordion__summary-title {
  color: var(--black);
}

.accordion__summary-arrow {
  position: absolute;
  display: inline-block;
  right: 32px;
}

.accordion__item[open] .accordion__summary {
  padding-bottom: 16px;
}

.accordion__item[open] .accordion__summary-arrow > svg {
  transform: rotate(180deg);
}

.accordion__content {
  padding: 0 32px 32px;
}

.accordion__text {
  color: var(--grey-4);
}

.accordion__item:last-child {
  margin-bottom: 0;
}
