.tooltip {
  display: inline-block;
  position: relative;
}

.tooltip__icon {
  width: 24px;
  height: 24px;
}

.tooltip__bubble {
  display: none;
  position: absolute;
  background: #4263eb;
  box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
  border-radius: 10px;
  min-width: 129px;
  min-height: 45px;
  padding: 13px 21px 8px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  white-space: nowrap;
  color: var(--grey-2);
  transform: translateX(-50%);
  left: 50%;
  bottom: calc(100% + 12px);
  z-index: -1;
}

.tooltip__bubble::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border: 14px solid transparent;
  border-top: 12px solid #4263eb;
}

.tooltip__icon:hover + .tooltip__bubble {
  display: inline-block;
}